<html>
<head>
	<script type="text/javascript" src="oxygen.js"></script>
</head>

<body>

	<script type="html/template" id="users">
		<ul>
		{% for i in users %}
			<li id="{{ users[i].id }}" class="{{ "row"+i }}{{ (i % 2 == 1 ? " even" : "") }}">
				<a href="{{ users[i].url }}">{{ users[i].name|title }}</a>

				{% if users[i].name == "John Doz" %}
					<div>{{ users[i].name|upper|replace("DOZ", "DOE") }}</div>
				{% else %}
					<div>{{ message }}</div>
				{% endif %}
			</li>

		{% endfor %}
		</ul>
	</script>

	<div id="result">
		...
		...
	</div>

	<script type="text/javascript">

	var data = {
		message : "No match",
		users : [
			{
				id : 25,
				url : "http://www.google.fr",
				name : "John Doz"
			},
			{
				id : 26,
				url : "http://www.slack.com",
				name : "Stephen's Lawson"
			},
			{
				id : 27,
				url : "http://www.yahoo.fr",
				name : "Blake Newton"
			}
		]
	};

	document.getElementById("result").innerHTML = O2("users", data);

	</script>

</body>